---
title: The San Remo
wideimg: san_remo.jpeg
---
<div class="container">

  {{> wideimg }}

  {{> menu }}
  
  <section>
    <h2>{{ title }}</h2>
    {{{ md 'markdown/san_remo.md' }}}
  </section>

</div>
