<!doctype html>
<html lang="eng">
<head>
  <title>{{#if title}}{{ title }} | {{/if}}Brand name</title>
  <link rel="stylesheet" href="lib/the.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div class="header">
  <div class="container">
    <header class="page-header">
      <ul class="nav nav-pills pull-right">
        <li><a href="about.html">About</a></li>
      </ul>
      <span class="lead">Brand name</span>
    </header>
  </div>
</div>

{{ body }}

<div class="container">  
  <footer>
    <div class="pull-right">
      <a href="https://twitter.com/share" class="twitter-share-button" data-related="journster" data-count="none">Tweet</a>
    </div>
  </footer>
</div>

<script src="//platform.twitter.com/widgets.js" async></script>

</body>
</html>